/* detail_page */

    *:focus { outline:none; }
    .dance-b5 .text_area {
       font-size:16px;
       width: 670px;
    }
    .dance-b6 .text_area {
       font-size:16px;
       width: 720px;
       margin-top:-1px;
    }
     
   div.dance {
      width:1400px;
      margin:auto;
   }
   
   div.dance>div.dance-box {
      margin-top:40px;
      width: 950px;
   }
   div.dance>div.dance-box1 {
      margin-top:20px;
   }
   div.dance>div.dance-box2 {
      width:940px; 
      height:500px;
      margin-top:35px;
      padding-bottom:30px;
      border-radius:10px;
   }
   div.dance-box2>img {
      float:left;
   }
   div.dance-box2>img:first-child{
      width:750px;
      height:490px;
      border-radius: 10px;
   }
   div.dance-box2>img.dance1-1,
   div.dance-box2>img.dance1-2,
   div.dance-box2>img.dance1-3,
   div.dance-box2>img.dance1-4 {
      width:180px;
      height:115px;
      border-radius:10px;
      float:left;
      vertical-align:top;
      margin:0 0 10px 10px;
   }
   div.dance>div.dance-box3 {
      margin-top:130px;
      height:250px;
      width:945px;
   }
   div.dance>div.dance-box3-1{
      width:945px;
      margin-top:120px;
      margin-bottom:30px;
   }
   div.dance>div.dance-box3-1.reivew_box{
       width:945px;
       height:150px;
      margin-top:120px;
      margin-bottom:30px;
   }
    .dance-box3-1  .curri_img {
		    vertical-align: top;
    		margin-bottom: 20px;
    		
    }
    
   div.dance-box4 {
      width:715px;
      margin-left:230px;
   }
   div.dance-box4>div.dance-box4-1 {
      text-align:center;
      font-size:13px;
      margin-top:40px;
      margin-bottom:100px;
   }
   div.dance-box4>div.dance-box4-1>a {
      display:inline-block;
      margin:0 5px 0 5px;
      border-radius:50%;
      width:25px; height:25px;
      text-decoration:none;
   }
   div.dance-box4>div.dance-box4-1>a.bottom {
      border:2px solid lightgray;
   }
   div.dance-box4>div.dance-box4-1>a.bottom1 {
      background-color:rgb(255,0,69);
      color:white;
   }
   div.dance-box4>div.dance-box4-1>a.bottom2:active {
      background-color:rgb(255,0,69);
      color:white;
   }
   div.dance-box4>ul>li>div {
      margin-top:35px;
   }
   div.dance-box4>ul>li>div>div>p {
      clear:left;
      margin-left:77px;
   }
   div.dance-box4>ul>li>div>div>img {
      margin-left:77px;
   }
   div.dance-box4>ul>li>div>span.dance-b7>img {
      float:left;
      margin-right:20px;
      width: 50px;
       height: 50px;
       border-radius: 50%;
       object-fit: cover;
       object-position: center;
   }
   div.dance-box4>ul>li>div>span.dance-b8 {
      margin-top:10px;
      display:inline-block;
      font-weight:bold;
   }
   div.dance-box4>ul>li>div>span.dance-b9 {
      color:gray;
   }
   div.dance>div.dance-box3>span.dance-b4,
   div.dance>div.dance-box3-1>span.dance-b4 {
      display:inline-block;
      float:left;
      font-size:28px;
      font-weight:bold;
      margin-right:60px;
      border-bottom:3px solid gray;
      padding-bottom:13px;
       /* rgb(250,250,250) */
      width:168px;
   }
   div.dance>div.dance-box3>div.dance-b5 {
      border:1px solid rgb(250,250,250);
      border-radius:3px;
      float:right;
      padding:15px 30px;
      width:720px;  
      height:50px;
      background-color:rgb(250,250,250);
      font-size:14px;
      margin-top:-95px;
      
   }
   .dance-b5 img {
   	  margin-top:10px;
   }
    
   div.dance>div.dance-box3-1>div.dance-b6>iframe {
      margin-left:50px;
   }
   div.dance>div.dance-box3-1>div.dance-b6>p {
      margin-left:224px;
      font-size:16px;
   }
   div.dance>div.dance-box3-1>div.dance-b6>img {
      margin-left:30px;
   }
   div.dance>div.dance-box3-1>div.dance-b6>div.dance-b6-1 {
      margin-bottom:80px;
   }
   div.dance>div.dance-box3-1>div.dance-b6>div.dance-b6-1>button.dance-btn1 {
      border:1px solid white;
      float:right;
      margin-top:10px;
      font-size:15px;
      background-color:white;
      text-decoration:underline;
      padding-bottom:5px;
      
   }
   div.dance>div.dance-box3>div.dance-b6>span {
      vertical-align:top;
   }
   div.dance>div.dance-box3>div.dance-b5>img {
      float:right;
   }
   div.dance>div.dance-box1>span.dance-b3 {
      color:rgb(255,0,69);
   }
   div.dance>div.dance-box1>img {
       float:left;
       margin-right:5px;
       width: 42px;
       height: 42px;
       border-radius: 50%;
       object-fit: cover;
         object-position: center;
   }
   div.dance>div.dance-box>span.dance-b1 {
      font-size:17px;
      font-weight:bold;
      color:rgb(255,0,69);
   }
   div.dance>div.dance-box>span.dance-b2 {
      font-size:30px;
      font-weight:bold;
   }
   div.dance>aside.d-side {
      border:1px solid #eee;
      border-radius:8px;
      float:right;
      width:380px;
      height:540px;
      position: sticky;
	  top : 120px;
	 box-shadow: 0 1px 4px 0 rgba(17, 17, 17, 0.1);
   }
   div.dance>aside.d-side>div.d-side-box4 {
      text-align:right;
      padding-right:20px;
      margin-top:90px;
   }
   div.dance>aside.d-side>div.d-side-box5 {
      text-align:center;
      margin-top:10px;
   }
   div.dance>aside.d-side>div.d-side-box5>img,
   div.dance>aside.d-side>div.d-side-box5>a>img {
       padding:0 14px 0 14px;
   }
   div.dance>aside.d-side>div.d-side-box4>span.d-span {
      font-size:17px;
      font-weight:bold;
   }
   div.dance>aside.d-side>div.d-side-box4>span.d-span1 {
      font-size:15px;
   }
   div.dance>aside.d-side>hr.d-line {
      width:330px;
      opacity:0.3;
      margin-top:8px;
   }
   div.dance>aside.d-side>h1 {
      font-size:30px;
      font-weight:bold;
      padding:24px 0 20px 18px;
   }
   div.dance>aside.d-side>div.scroll-box {
      overflow: auto; 
      height: 220px;
   }
   div.dance>aside.d-side>div>div.d-side-box {
      margin-top:25px;
      height:60px;
      margin-bottom:25px;
   }
   div.dance>aside.d-side>div>div.d-side-box .d-side-box1 {
      font-size:16px;
      font-weight:bold;
      padding-left:20px;
      padding-bottom:10px;
      display:inline-block;
   }
   div.dance>aside.d-side>div>div.d-side-box>span.d-side-box2 {
      font-size:16px;
      font-weight:bold;
      float:right;
      padding-right:20px;
   }
   div.dance>aside.d-side>div>div.d-side-box>.d-side-box3 {
      padding-left:20px;
      display: block;
      color: #999;
      font-size: 13px;
      font-weight: normal;
   }
   .review_sum {
       display: inline-block;
       width: 720px;
       float:right;
       padding: 26px 40px 22px;
       border: 1px solid #ddd;
       border-radius: 6px;
       margin-top:-95px;
       
   }
   .review_sum .review_list {
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       flex-direction: row;
       flex-wrap: wrap;
   }
   .review_sum .review_list li {
       width: 22%;
       margin-right: 17%;
       font-size: 15px;
       line-height: 19px;
       letter-spacing: -0.22px;
       text-align: left;
       font-weight: 500;
   }
   .review_sum .review_list li:nth-child(3) {
       margin-right: 0;
   }
   .review_sum .review_list li .avg {
       float: right;
       margin-left: 15px;
       font-size: 13px;
       font-weight: 500;
       letter-spacing: -0.2px;
   }
   .review_sum .review_list li .avg::before {
       content: '';
       display: inline-block;
       width: 14px;
       height: 14px;
       margin-right: 3px;
       vertical-align: -1px;
       background: url('http://localhost:9000/One_day_class/images/star_act.png') no-repeat center/100%;
   }
   .review_box_all {
   		border-bottom:2px solid #ccc;
   
   }
  
   .dance-b6 .cert_list {
       margin-bottom: 19px;
   }
   .dance-b6 .cert_list li {
       position: relative;
       display: block;
       padding-left: 17.4px;
       margin-bottom: 5px;
       font-size: 15px;
       letter-spacing: -0.22px;
       line-height: 21px;
       font-weight: normal;
       margin-left: 224px;
   }
   .dance-b6 .cert_list li::after {
       content: '';
       position: absolute;
       top: 2px;
       left: 0;
       width: 14px;
       height: 14px;
       background: url(http://localhost:9000/One_day_class/images/class_badge.png) no-repeat center/100%;
   }
       
   hr {
		width:1045px;
		opacity:0.3;
		width:330px;
		}
		 .curri_heading {
		    display: block;
		    margin-bottom: 15px;
		    font-size: 18px;
		    color: #ff0045;
		    font-weight: bold;
		}
		.photo_list {
		    margin: 10px 0 0 70px;
		    font-size: 0;
		}
		.photo_list li {
		    display: inline-block !important;
		    overflow: hidden;
		    width: calc(20% - 7px);
		    height: 68px;
		    margin-left: 7px;
		    padding: 0 !important;
		    border-radius: 6px;
		    cursor: pointer;
		}
		li {
		    list-style: none;
		}
		.photo_list li img {
		    width: 100%;
		    height: 100%;
		    object-fit: cover;
		}
		
		.curri_details {
		 margin-top:-1px;
		}
		.swiper-container {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
      border-radius:10px;
    }

    .gallery-top {
      height: 100%;
      width: 100%;
      
    }

    .gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .gallery-thumbs .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
      cursor: pointer;
    }

    .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1;
      border: 1px solid #ff0045;
    }
    div.nav {
		display:none;
		z-index:6;
		width:100%;
		height:80px;
		text-align:center;
		position:fixed;
		top:0px;
		opacity:0.9;
		border-bottom: 1px solid #eee;
		transition: all 0.5s ease-in;
    	background-color: #fff;
		
	}
		div.nav.fixed {
	      display:block;
	      
	   }
	.nav ul {
		width: 100%;
	    padding: 0 20px;
	    display: flex;
	    height: 100%;
    	margin: 0 auto;
    	-webkit-box-pack: start;
    	justify-content: flex-start;
	}
	.nav ul li.active {
	    border-bottom: 2px solid #ff0045;
	}
	.nav ul li {
	    height: 100%;
	    margin-right: 39px;
	    text-align: center;
	}
	li {
		display: list-item;
	    list-style: none;
	}
	.nav ul li a {
	    display: block;
	    height: 100%;
	    padding: 44px 0 17px;
	    font-size: 15px;
	    letter-spacing: -0.23px;
	}
	a {
	    color: inherit;
	    font-size: inherit;
	    font-weight: inherit;
	    line-height: inherit;
	    text-decoration: none;
	}
	a:-webkit-any-link {
	    cursor: pointer;
	}
/* detail-page-apply*/   
 *:focus { outline:none; }
	*{
		font-family:"Noto Sans KR";
	}
	hr.top-bar {
		width:100%;
		opacity:0.3;
		margin-top:40px;
	}
	h3 {
		font-size:17px;
		margin-bottom:20px;
	}
	div.apply {
		width:1050px;
		margin:auto;
	}
	div.right {
		display:inline-block;
		float:right;
		margin-top:150px;
		width:400px;
	}
	div.right>button.r-btn3 {
		width:398px; height:48px;
		background-color:rgb(255,0,69);
		border:1px solid rgb(255,0,69);
		border-radius:6px;
		color:white;
	}
	div.right>h3 {
		display:inline-block;
		margin-bottom:50px;
	}
	div.right>div.margin {
		margin-bottom:60px;
	}
	div.right>div.r-box {
		display:inline-block;
		float:right;
		margin-top:15px;
	}
	div.right>div.r-box1-1>h3 {
		display:inline-block;
		clear:left;
	}
	div.right>div.r-box1-1>input {
		width:160px; height:30px;
		margin-left:60px;
		border:1px solid lightgray;
		border-radius:5px;
		text-indent:15px;
	}
	div.right>div.r-box3 {
		margin-bottom:30px;
	}
	div.right>div.r-box4 {
		margin-bottom:30px;
	}
	div.right>div.r-box4>textarea {
		width:398px; height:148px;
		padding:13px 0 0 15px;
		border:1px solid lightgray;
		border-radius:6px;
	}
	div.right>div.r-box3>div.r-box3-1,
	div.right>div.r-box3>div.r-box3-2,
	div.right>div.r-box3>div.r-box3-3 {
		display:inline-block;
		font-size:15px;
	}
	div.right>div.r-box3>div.r-box3-2 {
		margin-left:82px;
		margin-right:82px;
	}

	
	div.left {
		 display:inline-block;
		 width:400px;
		 clear:left;
		 margin-bottom:450px;
	}
	.left-box {
		border:1px solid lightgray;
		border-radius:8px;
		clear:left;
		width:400px;
		height:500px;
	}
	.left-box .left-box-span {
		display: block;
	    margin-bottom: 5px;
	    font-weight: 500;
	    font-size: 15px;
	    line-height: 20px;
	    letter-spacing: -0.38px;
	}
	.left-box .left-box-p {
		font-size: 15px;
	    line-height: 20px;
	    letter-spacing: -0.38px;
	    color: #666;
	}
	div.left-box>ul>div>li>hr {
		width:360px;
		opacity:0.2;
		margin-right:20px;
		margin-top:20px;
		margin-bottom:20px;
	}
	span.a-title {
		display:inline-block;
		font-size:20px;
		font-weight:bold;
		margin-top:60px;
	}
	hr.a-bar {
		width:1045px;
		opacity:0.3;
		margin-top:20px;
		margin-bottom:30px;
	}
	.a-left {
		display: flex;
		align-items: center;
	}
	.a-left	.a-left-1 {
	    width: 111px;
	    height: 85px;
	    margin-right: 14px;
	    border: 1px solid #eee;
	}
	.a-left .a-left-1 img {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	    object-position: center;
	}
		img {
	    max-width: 100%;
	    max-height: 100%;
	    vertical-align: top;
	}
	.a-left .a-title-1 {
	    font-size: 15px;
	    line-height: 24px;
	    letter-spacing: -0.38px;
	    word-break: break-all;
	    margin-bottom:-10px;
	    
	}
	div.a-left-1 {
		width:400px;
		height:100px;
	}
	div.a-left>div.a-left-1>div.a-left-2>img {
		margin-left:15px;
	}
	div.a-left>div.a-left-1>div.a-left-2>span.a-title-2 {
		display:inline-block;
		margin-left:5px;
		vertical-align:top;
	}
	div.a-left>div.a-left-1>span.a-title-1 {
		display:inline-block;
		margin:15px 0 10px 15px;
		vertical-align: top;
	    line-height: 0;
	}
	div.a-left>div.a-left-1>img {
		width:100.06; height:83px;
		float:left;
		border-radius:8px;
	}
	.scroll-box {
	    overflow: auto;
	    height: 420px;
	} 
	.left-box ul {
		padding: 0 15px;
	}
	ul {
	    display: block;
	    list-style-type: disc;
	    margin-block-start: 1em;
	    margin-block-end: 1em;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
	    padding-inline-start: 40px;
	}
	.left-box .list {
		padding: 25px 0 25px 41px;
    	border-bottom: 1px solid #eee;
	}
	li {
		list-style: none;
		display: list-item;
    	text-align: -webkit-match-parent;
	}
	.blind {
	    position: absolute !important;
	    clip: rect(0,0,0,0);
	    clip-path: polygon(0 0,0 0,0 0);
	    width: 1px;
	    height: 1px;
	    margin: -1px;
	    overflow: hidden;
	    white-space: nowrap;
	    cursor:pointer;
	}   
	input[type="radio" i] {
	    background-color: initial;
	    cursor: default;
	    appearance: radio;
    }
    
    .left-box .inp_radio {
    	position:relative;
    }
    label {
    	cursor:pointer;
    }
	.left-box .inp_radio::before {
	    content: '';
	    display: block;
	    position: absolute;
	    left: -36px;
	    top: 2px;
	    width: 18px;
	    height: 18px;
	    border-radius: 50%;
	    background: url(http://localhost:9000/One_day_class/images/radio_bg.png) no-repeat center/18px;
	}
	.left-box .list .inp_label:checked + .inp_radio::before {
	    background-image: url(http://localhost:9000/One_day_class/images/radio_p2p_act.png);
	}
	.r-box3 .inp_radio::before {
       content: '';
       display: inline-block;
       width: 18px;
       height: 18px;
       margin: 0 10px 2px;
       vertical-align: middle;
       background: url(http://localhost:9000/One_day_class/images/radio_bg.png) no-repeat center/18px;
   }
   .r-box3 .inp_label:checked + .inp_radio::before {
       background-image: url(http://localhost:9000/One_day_class/images/radio_p2p_act.png);
   }
	div.right>div.r-box3>div.r-box3-2 {
      margin-left:82px;
      margin-right:82px;
   }
	.r-box .r-btn:disabled{
       cursor: default;
       background-image: url(http://localhost:9000/One_day_class/images/num_minus_disabled.png);
   }
   .r-box .r-btn {
       cursor: default;
       background-image: url(http://localhost:9000/One_day_class/images/apply-btn1-1.png);
   }
   .r-box button {
       width: 35px;
       height: 35px;
       border-radius: 50%;
       background-size: cover;
       vertical-align: top;
   }
   .r-box input {
       width: 50px;
       height: 32px;
       padding: 15px 0;
       border: none;
       text-align: center;
       font-size: 15px;
       vertical-align:top;
   }
   .r-box .r-btn1 {
       background-image: url(http://localhost:9000/One_day_class/images/apply-btn.png);
   }